* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: black;
  line-height: 25px;
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(to left, #7c8692, #99a2ad);
  height: 100vh;
}
ul {
  padding-left: 55px;
  list-style-type: circle;
  line-height: 30px;
}

.sidebar-photo {
  height: 150px;
  width: 150px;
  margin-top: 10vh;
  background-color: #99a2ad;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 50%;
}
.wraper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
}
.horizontal-line {
  height: 1px;
  background-color: azure;
  margin: 50px;
  opacity: 0.5;
}
.arrow {
  display: none;
  position: fixed;
  bottom: 30px; /* Dystans od dolnej krawędzi okna przeglądarki */
  right: 30px; /* Dystans od prawej krawędzi okna przeglądarki */
  z-index: 999; /* Możesz dostosować wartość z-index według potrzeb */
  cursor: pointer; /* Daj strzałce kursor wskazujący na to, że można na nią kliknąć */
  font-size: 5rem;
}
.arrow a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 400px;
  text-align: center;
  background-color: #7c8692;
}
.right {
  position: absolute;
  margin-left: 400px;
  background-color: #99a2ad;
}
.header {
  height: 50vh;
  font-size: 2.5rem;
  height: 50vh;
  min-height: 300px;
}

.header .name {
  font-size: 5rem;
  line-height: 50px;
  font-weight: 700;
  margin-top: 50px;
}
.menuWrap {
  height: 50vh;
  line-height: 40px;
  font-size: 2rem;
}
.icons a {
  display: inline-block;
  padding: 20px 5px;
}

.icons img {
  height: 20px;
  width: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.menu p {
  transition: 0.7s;
  font-size: 2rem;
}
.menu p:hover {
  padding-left: 25px;
}

.section {
  margin: 50px 100px 50px 100px;
  font-size: 1.5rem;
  letter-spacing: 0.3mm;
}

.section-tittle {
  font-size: 2rem;
  transition: 0.7s;
  margin-bottom: 10px;
}
.section-tittle:hover {
  padding-left: 25px;
}

.education li {
  list-style-type: circle;
}
.degree {
  margin: 10px 0px;
}

.courses {
  margin: 10px 150px 100px 150px;
  font-size: 15px;
}
@media only screen and (max-width: 810px) {
  .sidebar {
    width: 200px;
  }
  .right {
    margin-left: 200px;
  }
  .aspire {
    padding: 0;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    position: initial;
    width: 100%;
    height: 170px;
  }
  .sidebar-photo {
    display: none;
  }

  .header {
    height: auto;
    min-height: auto;
  }
  .header .name {
    font-size: 3rem;
    line-height: 30px;
    font-weight: 700;
    padding: 20px 0 0 0;
    margin-top: 0;
  }
  ul {
    padding-left: 25px;
    line-height: 25px;
  }
  .section {
    margin: 25px 50px 50px 25px;
    font-size: 1.5rem;
    letter-spacing: 0.3mm;
  }
  .header p {
    padding: 0;
    font-size: 1.5rem;
  }
  .menuWrap {
    height: auto;
    font-size: 1rem;
  }
  .menu p {
    display: inline-block; /* Wyświetlanie elementów p obok siebie */
    margin-top: 10px;
    margin-right: 10px; /* Dodatkowy margines między elementami, jeśli jest to konieczne */
  }
  .icons a {
    display: inline-block;
    padding: 10px 5px;
  }
  .right {
    width: 100%;
    margin: auto;
  }
  .education {
    margin: 10px 50px 100px 50px;
  }
  .arrow {
    display: block;
  }
}
